@import 'core/variables';
@import 'core/mixins';

.header {
    font-family: 'Inconsolata', monospace;
    background: $whiteColor;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-bottom: 10px solid red;
    border-top: 10px solid red;

    &__img {
        width: 200px;
        padding: 10px;
    }
}