@import 'core/variables';
@import 'core/mixins';

.pokemonList {
    &__item {
        position: relative;
        bottom: 0;
        z-index: 1;

        &--image {
            position:absolute;
            bottom: 115px;
            z-index: 0;
        }
        &--name {
            text-transform: capitalize;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 55px;
        }
        &--types {
            display: flex;
            padding: 15px;
            position: absolute;
            bottom: 5px;
            &_item {
                list-style-type: none;
                text-transform: uppercase;
                font-size: 12px;
                color: $whiteColor;
                background: grey;
                border-radius: 10px;
                width: 45px;
                height: 20px;
                margin: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        
        &--heart {
            position:absolute;
            color: rgb(236, 105, 105);
            z-index: 100;
            cursor: pointer;
            padding: 5px;
            font-size: 22px;
        }
    }
}

.circle {
    width: 50px;
    height: 50px;
    border: 9px solid $blackColor;
    border-radius: 50px;
    position: absolute;
    bottom: 80px;
    z-index: 2;
    background: $whiteColor;
}

.line {
    width: 101%;
    border-top: 10px solid $blackColor;
    position: relative;
    bottom: 0px;    
}

.fav-hide {
    display: none; 
}

.fav-size {
    font-size: 40px;
}

.fire {
    background: orange;
}

.grass {
    background: green;
}

.water {
    background: lightskyblue;
}

.bug {
    background: #804000;
}

